<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeHebergement">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.typeHebergement.detail.title">Type Hebergement</span> {{ typeHebergement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.typeHebergement.libTypeHebergement">Lib Type Hebergement</span></dt>
                <dd>
                    <span>{{ typeHebergement.libTypeHebergement }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-hebergement', typeHebergement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
