<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-hebergement-heading" jhiTranslate="ecoLifeExpeditionApp.hebergement.home.createOrEditLabel">Create or edit a Hebergement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.hebergement.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.hebergement.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                           formControlName="adresse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.hebergement.lattitude" for="field_lattitude">Lattitude</label>
                    <input type="number" class="form-control" name="lattitude" id="field_lattitude"
                           formControlName="lattitude"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.hebergement.longitude" for="field_longitude">Longitude</label>
                    <input type="number" class="form-control" name="longitude" id="field_longitude"
                           formControlName="longitude"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.hebergement.montantTTc" for="field_montantTTc">Montant T Tc</label>
                    <input type="number" class="form-control" name="montantTTc" id="field_montantTTc"
                           formControlName="montantTTc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.hebergement.typeHebergement" for="field_typeHebergement">Type Hebergement</label>
                    <select class="form-control" id="field_typeHebergement" name="typeHebergement" formControlName="typeHebergement">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeHebergementOption.id === editForm.get('typeHebergement')!.value?.id ? editForm.get('typeHebergement')!.value : typeHebergementOption" *ngFor="let typeHebergementOption of typehebergements; trackBy: trackById">{{ typeHebergementOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
