<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="avisHebergementMedia">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.avisHebergementMedia.detail.title">Avis Hebergement Media</span> {{ avisHebergementMedia.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.avisHebergementMedia.mediaType">Media Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'ecoLifeExpeditionApp.MediaType.' + avisHebergementMedia.mediaType }}">{{ avisHebergementMedia.mediaType }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.avisHebergementMedia.mediaUrl">Media Url</span></dt>
                <dd>
                    <span>{{ avisHebergementMedia.mediaUrl }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.avisHebergementMedia.mediacontent">Mediacontent</span></dt>
                <dd>
                    <div *ngIf="avisHebergementMedia.mediacontent">
                        <a (click)="openFile(avisHebergementMedia.mediacontentContentType, avisHebergementMedia.mediacontent)" jhiTranslate="entity.action.open">open</a>
                        {{ avisHebergementMedia.mediacontentContentType }}, {{ byteSize(avisHebergementMedia.mediacontent) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.avisHebergementMedia.avisHebergement">Avis Hebergement</span></dt>
                <dd>
                    <div *ngIf="avisHebergementMedia.avisHebergement">
                        <a [routerLink]="['/avis-hebergement', avisHebergementMedia.avisHebergement?.id, 'view']">{{ avisHebergementMedia.avisHebergement?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/avis-hebergement-media', avisHebergementMedia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
