<footer id="footer-1">
    <div class="scroll-top">
    <i class="fas fa-angle-up"></i>
</div>
    <div class="container">
        <div class="subcribe-form-area">
    <div class="subsriber-form-tittle">
        <h2>Subscribe <br><span> to Our</span> Newsletter</h2>
        <span class="subsriber-form-tittle__line-under"></span>
    </div>
    <div class="subsriber-form">
        <div class="col-lg-8">
            <form class="subsriber-form--padding" action="#">
                <input class="subsriber-form__text-input" value="Your Email..." type="text">
                <input class="subsriber-form__submit" type="submit" value="SUBSCRIBE">
            </form>
        </div>
    </div>
</div>







    
        <div class="row">
            <div class="col-lg-6 col-md-5">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="footer-widget-1 footer-widget-1--margin ">
                            <a href="index.html"><img src="../../../assets/images/footerlogo.png" alt="footerlogo"></a>
                            <div class="footer-widget-1__text">
                                <p>
                                    Sed vel molestie libero, ac vestibulum nunc. Vivamus quis nibh Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, neque? <br>
                                    Molestie mauris, vitae dictum erat quam vel felis. Vestibulum ante ispum      
                                </p>
                            </div>   
                        </div>
                    </div>
                </div>

            </div>
            <div id="remove-padding" class="col-lg-6 col-md-7">
                <div class="footer-widget-1">
                    <div class="footer-widget-1__lists">
                        <div class="footer-widget-1__list">
                            <div class="footer-widget-1__tittle">
                                <h5>Solutions</h5>
                                <div class="footer-widget-1__tittle__line-under"></div>                   
                            </div>
                            <ul>
                                <li><a href="#">Tours</a></li>
                                <li><a href="#">Destinations</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Testimonials</a></li>
                            </ul>
                        </div>
                        
                        <div class="footer-widget-1__list">
                            <div class="footer-widget-1__tittle">
                                <h5>quick links</h5>
                                <div class="footer-widget-1__tittle__line-under"></div>                   
                            </div>
                            <ul>
                                <li><a href="#">Discover</a></li>
                                <li><a href="#">Upcoming Tours</a></li>
                                <li><a href="#">Payment Options</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                            </div>

                        <div class="footer-widget-1__list">
                            <div class="footer-widget-1__tittle">
                                <h5>resources</h5>
                                <div class="footer-widget-1__tittle__line-under"></div>                   
                            </div>
                            <ul>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Information</a></li>
                            </ul>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>

    </div>
    <div class="copyright">
        <div class="container">
            <div class="copyright__area">
                <div class="copyright__license">
                    Copyright <i class="far fa-copyright"></i> 2019 Wunderlust. All Rights Reserved.
                </div>
                <div class="copyright__social">
                    <a href="#"><img src="../../../assets/images/socials/copytight-instar.png" alt="instar-copyright"></a>
                    <a href="#"><img src="../../../assets/images/socials/copytight-facebook.png" alt="facebook-copyright"></a>
                    <a href="#"><img src="../../../assets/images/socials/copytight-twitter.png" alt="twitter-copytight"></a>
                </div>
            </div>
        </div>
    </div>
        
</footer>