<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-chambre-heading" jhiTranslate="ecoLifeExpeditionApp.chambre.home.createOrEditLabel">Create or edit a Chambre</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.chambre.prixTTC" for="field_prixTTC">Prix TTC</label>
                    <input type="number" class="form-control" name="prixTTC" id="field_prixTTC"
                           formControlName="prixTTC"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.chambre.reservation" for="field_reservation">Reservation</label>
                    <select class="form-control" id="field_reservation" name="reservation" formControlName="reservation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="reservationOption.id === editForm.get('reservation')!.value?.id ? editForm.get('reservation')!.value : reservationOption" *ngFor="let reservationOption of reservations; trackBy: trackById">{{ reservationOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.chambre.typeChambre" for="field_typeChambre">Type Chambre</label>
                    <select class="form-control" id="field_typeChambre" name="typeChambre" formControlName="typeChambre">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeChambreOption.id === editForm.get('typeChambre')!.value?.id ? editForm.get('typeChambre')!.value : typeChambreOption" *ngFor="let typeChambreOption of typechambres; trackBy: trackById">{{ typeChambreOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.chambre.hotel" for="field_hotel">Hotel</label>
                    <select class="form-control" id="field_hotel" name="hotel" formControlName="hotel">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="hotelOption.id === editForm.get('hotel')!.value?.id ? editForm.get('hotel')!.value : hotelOption" *ngFor="let hotelOption of hotels; trackBy: trackById">{{ hotelOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
