<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chambre">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.chambre.detail.title">Chambre</span> {{ chambre.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.chambre.prixTTC">Prix TTC</span></dt>
                <dd>
                    <span>{{ chambre.prixTTC }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.chambre.reservation">Reservation</span></dt>
                <dd>
                    <div *ngIf="chambre.reservation">
                        <a [routerLink]="['/reservation', chambre.reservation?.id, 'view']">{{ chambre.reservation?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.chambre.typeChambre">Type Chambre</span></dt>
                <dd>
                    <div *ngIf="chambre.typeChambre">
                        <a [routerLink]="['/type-chambre', chambre.typeChambre?.id, 'view']">{{ chambre.typeChambre?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.chambre.hotel">Hotel</span></dt>
                <dd>
                    <div *ngIf="chambre.hotel">
                        <a [routerLink]="['/hotel', chambre.hotel?.id, 'view']">{{ chambre.hotel?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chambre', chambre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
