<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecoLifeExpeditionApp.avisTour.home.title">Avis Tours</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-avis-tour" [routerLink]="['/avis-tour/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ecoLifeExpeditionApp.avisTour.home.createLabel">
            Create a new Avis Tour
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="avisTours?.length === 0">
        <span jhiTranslate="ecoLifeExpeditionApp.avisTour.home.notFound">No avisTours found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="avisTours && avisTours.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.avisTour.author">Author</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.avisTour.nbreEtoile">Nbre Etoile</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.avisTour.commentaire">Commentaire</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let avisTour of avisTours ;trackBy: trackId">
                    <td><a [routerLink]="['/avis-tour', avisTour.id, 'view']">{{ avisTour.id }}</a></td>
                    <td>{{ avisTour.author }}</td>
                    <td jhiTranslate="{{ 'ecoLifeExpeditionApp.Stars.' + avisTour.nbreEtoile }}">{{ avisTour.nbreEtoile }}</td>
                    <td>{{ avisTour.commentaire }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/avis-tour', avisTour.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/avis-tour', avisTour.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(avisTour)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
