<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tarifHebergement">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.tarifHebergement.detail.title">Tarif Hebergement</span> {{ tarifHebergement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tarifHebergement.montantTTC">Montant TTC</span></dt>
                <dd>
                    <span>{{ tarifHebergement.montantTTC }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tarifHebergement.typeTarif">Type Tarif</span></dt>
                <dd>
                    <div *ngIf="tarifHebergement.typeTarif">
                        <a [routerLink]="['/type-tarif', tarifHebergement.typeTarif?.id, 'view']">{{ tarifHebergement.typeTarif?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tarif-hebergement', tarifHebergement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
