<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="avisTransfert">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.avisTransfert.detail.title">Avis Transfert</span> {{ avisTransfert.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.avisTransfert.author">Author</span></dt>
                <dd>
                    <span>{{ avisTransfert.author }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.avisTransfert.nbreEtoile">Nbre Etoile</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'ecoLifeExpeditionApp.Stars.' + avisTransfert.nbreEtoile }}">{{ avisTransfert.nbreEtoile }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.avisTransfert.commentaire">Commentaire</span></dt>
                <dd>
                    <span>{{ avisTransfert.commentaire }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.avisTransfert.transfert">Transfert</span></dt>
                <dd>
                    <div *ngIf="avisTransfert.transfert">
                        <a [routerLink]="['/transfert', avisTransfert.transfert?.id, 'view']">{{ avisTransfert.transfert?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/avis-transfert', avisTransfert.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
