<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hotel">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.hotel.detail.title">Hotel</span> {{ hotel.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.hotel.libelleHotel">Libelle Hotel</span></dt>
                <dd>
                    <span>{{ hotel.libelleHotel }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.hotel.classeHotel">Classe Hotel</span></dt>
                <dd>
                    <span>{{ hotel.classeHotel }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.hotel.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ hotel.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.hotel.lattitude">Lattitude</span></dt>
                <dd>
                    <span>{{ hotel.lattitude }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.hotel.longitude">Longitude</span></dt>
                <dd>
                    <span>{{ hotel.longitude }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.hotel.agence">Agence</span></dt>
                <dd>
                    <div *ngIf="hotel.agence">
                        <a [routerLink]="['/agence', hotel.agence?.id, 'view']">{{ hotel.agence?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hotel', hotel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
