<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecoLifeExpeditionApp.donneurOrdre.home.title">Donneur Ordres</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-donneur-ordre" [routerLink]="['/donneur-ordre/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ecoLifeExpeditionApp.donneurOrdre.home.createLabel">
            Create a new Donneur Ordre
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="donneurOrdres?.length === 0">
        <span jhiTranslate="ecoLifeExpeditionApp.donneurOrdre.home.notFound">No donneurOrdres found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="donneurOrdres && donneurOrdres.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.donneurOrdre.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.donneurOrdre.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.donneurOrdre.adresse">Adresse</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.donneurOrdre.numTelephone">Num Telephone</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.donneurOrdre.email">Email</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let donneurOrdre of donneurOrdres ;trackBy: trackId">
                    <td><a [routerLink]="['/donneur-ordre', donneurOrdre.id, 'view']">{{ donneurOrdre.id }}</a></td>
                    <td>{{ donneurOrdre.nom }}</td>
                    <td>{{ donneurOrdre.prenom }}</td>
                    <td>{{ donneurOrdre.adresse }}</td>
                    <td>{{ donneurOrdre.numTelephone }}</td>
                    <td>{{ donneurOrdre.email }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/donneur-ordre', donneurOrdre.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/donneur-ordre', donneurOrdre.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(donneurOrdre)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
