<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-avis-tour-media-heading" jhiTranslate="ecoLifeExpeditionApp.avisTourMedia.home.createOrEditLabel">Create or edit a Avis Tour Media</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.avisTourMedia.mediaType" for="field_mediaType">Media Type</label>
                    <select class="form-control" name="mediaType" formControlName="mediaType" id="field_mediaType">
                        <option value="TEXT">{{ 'ecoLifeExpeditionApp.MediaType.TEXT' | translate }}</option>
                        <option value="AUDIO">{{ 'ecoLifeExpeditionApp.MediaType.AUDIO' | translate }}</option>
                        <option value="VIDEO">{{ 'ecoLifeExpeditionApp.MediaType.VIDEO' | translate }}</option>
                        <option value="IMAGE">{{ 'ecoLifeExpeditionApp.MediaType.IMAGE' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.avisTourMedia.mediaUrl" for="field_mediaUrl">Media Url</label>
                    <input type="text" class="form-control" name="mediaUrl" id="field_mediaUrl"
                           formControlName="mediaUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.avisTourMedia.mediacontent" for="field_mediacontent">Mediacontent</label>
                    <div>
                        <div *ngIf="editForm.get('mediacontent')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('mediacontentContentType')!.value, editForm.get('mediacontent')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('mediacontentContentType')!.value }}, {{ byteSize(editForm.get('mediacontent')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({mediacontent: null});editForm.patchValue({mediacontentContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_mediacontent" (change)="setFileData($event, 'mediacontent', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="mediacontent" id="field_mediacontent"
                           formControlName="mediacontent"/>
                    <input type="hidden" class="form-control" name="mediacontentContentType" id="field_mediacontentContentType"
                           formControlName="mediacontentContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.avisTourMedia.score" for="field_score">Score</label>
                    <select class="form-control" name="score" formControlName="score" id="field_score">
                        <option value="ONE">{{ 'ecoLifeExpeditionApp.Stars.ONE' | translate }}</option>
                        <option value="TWO">{{ 'ecoLifeExpeditionApp.Stars.TWO' | translate }}</option>
                        <option value="THREE">{{ 'ecoLifeExpeditionApp.Stars.THREE' | translate }}</option>
                        <option value="FOUR">{{ 'ecoLifeExpeditionApp.Stars.FOUR' | translate }}</option>
                        <option value="FIVE">{{ 'ecoLifeExpeditionApp.Stars.FIVE' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.avisTourMedia.avisTour" for="field_avisTour">Avis Tour</label>
                    <select class="form-control" id="field_avisTour" name="avisTour" formControlName="avisTour">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="avisTourOption.id === editForm.get('avisTour')!.value?.id ? editForm.get('avisTour')!.value : avisTourOption" *ngFor="let avisTourOption of avistours; trackBy: trackById">{{ avisTourOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
