<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.client.detail.title">Client</span> {{ client.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.client.nom">Nom</span></dt>
                <dd>
                    <span>{{ client.nom }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.client.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ client.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.client.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ client.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.client.email">Email</span></dt>
                <dd>
                    <span>{{ client.email }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.client.dateNaissance">Date Naissance</span></dt>
                <dd>
                    <span>{{ client.dateNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.client.reservation">Reservation</span></dt>
                <dd>
                    <div *ngIf="client.reservation">
                        <a [routerLink]="['/reservation', client.reservation?.id, 'view']">{{ client.reservation?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
