<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="serviceSupplementaire">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.serviceSupplementaire.detail.title">Service Supplementaire</span> {{ serviceSupplementaire.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.serviceSupplementaire.libelleService">Libelle Service</span></dt>
                <dd>
                    <span>{{ serviceSupplementaire.libelleService }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.serviceSupplementaire.tour">Tour</span></dt>
                <dd>
                    <div *ngIf="serviceSupplementaire.tour">
                        <a [routerLink]="['/tour', serviceSupplementaire.tour?.id, 'view']">{{ serviceSupplementaire.tour?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service-supplementaire', serviceSupplementaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
