<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="region">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.region.detail.title">Region</span> {{ region.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.region.libRegion">Lib Region</span></dt>
                <dd>
                    <span>{{ region.libRegion }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.region.pays">Pays</span></dt>
                <dd>
                    <div *ngIf="region.pays">
                        <a [routerLink]="['/pays', region.pays?.id, 'view']">{{ region.pays?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.region.typeRegion">Type Region</span></dt>
                <dd>
                    <div *ngIf="region.typeRegion">
                        <a [routerLink]="['/type-region', region.typeRegion?.id, 'view']">{{ region.typeRegion?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/region', region.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
