<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservationTransfert">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.reservationTransfert.detail.title">Reservation Transfert</span> {{ reservationTransfert.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservationTransfert.montantTotalTTC">Montant Total TTC</span></dt>
                <dd>
                    <span>{{ reservationTransfert.montantTotalTTC }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservationTransfert.reservation">Reservation</span></dt>
                <dd>
                    <div *ngIf="reservationTransfert.reservation">
                        <a [routerLink]="['/reservation', reservationTransfert.reservation?.id, 'view']">{{ reservationTransfert.reservation?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservationTransfert.transfert">Transfert</span></dt>
                <dd>
                    <div *ngIf="reservationTransfert.transfert">
                        <a [routerLink]="['/transfert', reservationTransfert.transfert?.id, 'view']">{{ reservationTransfert.transfert?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reservation-transfert', reservationTransfert.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
