<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecoLifeExpeditionApp.reservationTransfert.home.title">Reservation Transferts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reservation-transfert" [routerLink]="['/reservation-transfert/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ecoLifeExpeditionApp.reservationTransfert.home.createLabel">
            Create a new Reservation Transfert
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reservationTransferts?.length === 0">
        <span jhiTranslate="ecoLifeExpeditionApp.reservationTransfert.home.notFound">No reservationTransferts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reservationTransferts && reservationTransferts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservationTransfert.montantTotalTTC">Montant Total TTC</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservationTransfert.reservation">Reservation</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservationTransfert.transfert">Transfert</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservationTransfert of reservationTransferts ;trackBy: trackId">
                    <td><a [routerLink]="['/reservation-transfert', reservationTransfert.id, 'view']">{{ reservationTransfert.id }}</a></td>
                    <td>{{ reservationTransfert.montantTotalTTC }}</td>
                    <td>
                        <div *ngIf="reservationTransfert.reservation">
                            <a [routerLink]="['/reservation', reservationTransfert.reservation?.id, 'view']" >{{ reservationTransfert.reservation?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="reservationTransfert.transfert">
                            <a [routerLink]="['/transfert', reservationTransfert.transfert?.id, 'view']" >{{ reservationTransfert.transfert?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/reservation-transfert', reservationTransfert.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/reservation-transfert', reservationTransfert.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(reservationTransfert)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
