/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: flow-root;
   width: 347px;
   height: 900px;
  background-image: url('../../content/images/bg-ecolife.jpg') ;
background-repeat: no-repeat;
  background-size: cover;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */

