<!--  
<div class="row" class="divstrech">
   

    <div class="col-md-9" style="bottom: 0; ">
        <h1 class="display-4" jhiTranslate="home.title">Welcome</h1>

        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
            </div>

           

            <div class="alert alert-warning" *ngSwitchCase="false" style="position:absolute; ">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

       
    </div>
</div>
-->
<div class='loading'>
	<div class='lds-dual-ring'></div>
</div>
<header id="header-1">

	<div class="wand-container">
		<div class="header-content1">

			<nav class="header-nav-mobile">
				<ul>
					<li><a href="#">HOME <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<li><a href="index.html">HOME 1</a></li>
							<li><a href="index-2.html">HOME 2</a></li>
							<li><a href="index-3.html">HOME 3</a></li>
							<li><a href="index-4.html">HOME 4</a></li>
							<li><a href="index-5.html">HOME 5</a></li>
						</ul></li>
					<li><a href="#">TOURS <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<li><a href="tour-grid.html">TOURS GRID</a></li>
							<li><a href="tour-list.html">TOURS LIST</a></li>
							<li><a href="#">TOURS ITEMS<i class="fa fa-angle-down"></i></a>
								<ul>
									<li><a href="tour-item.html">TOURS ITEM</a></li>
									<li><a href="tour-item-2.html">TOURS ITEM2</a></li>
									<li><a href="tour-item-3.html">TOURS ITEM3</a></li>
								</ul></li>
						</ul></li>
					<li><a href="#">DESTINATIONS <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<li><a href="destination-grid.html">DESTINATION GRID</a></li>
							<li><a href="destination-mansory.html">DESTINATION
									MANSORY</a></li>
							<li><a href="destination-item.html">DESTINATION ITEM</a></li>
						</ul></li>
					<li><a href="#">BLOG <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<li><a href="blog.html">BLOG LIST</a></li>
							<li><a href="blog-grid.html">BLOG GRID</a></li>
							<li><a href="blog-single.html">BLOG SINGLE</a></li>
						</ul></li>
					<li><a href="#">PAGES <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<li><a href="aboutus.html">ABOUT US</a></li>
							<li><a href="404.html">404 PAGE</a></li>
						</ul></li>
					<li><a href="contact.html">CONTACT <i
							class="fa fa-angle-down"></i></a></li>
					<li>
						<div class="header-nav-mobile__search-area">
							<a class="header-nav-mobile__signin" href="#"><img
								src="../../assets/images/account.png" alt="account"></a> <a
								class="header-nav-mobile__search-bar"> <img
								src="../../assets/images/headersearch.png" alt="headersearch">
							</a>
						</div>
					</li>
				</ul>
			</nav>


			<div class="header-content1__hamburger">
				<span></span> <span></span> <span></span>
			</div>
		</div>
		<div class="header-tittle1">
			<img src="../../assets/images/uploads/pagebanner/header1-tittle.png"
				alt="header-1tittle">
		</div>
	</div>


	<div id="form-1-area">
		<div class="container">
			<div class="form-area">
				<form name="searchForm" role="form" novalidate
					(ngSubmit)="searchTours()" [formGroup]="searchForm">

					<div class="form-group form__item form__item--select">
						<label>TRAVEL DESTINCATION</label>

						<div>
							<select class="form__item " id="field_destination"
								name="destination" formControlName="destination">
								<option [ngValue]="null"></option>
								<option [ngValue]="destination.id"
									*ngFor="let destination of destinations; ">{{
									destination.libRegion }}</option>
							</select>
						</div>
					</div>
					<div class="form-group form__item form__item--select">
						<label>TRAVEL TYPE</label>
						<div>
							<select class="form__item " id="field_typeCircuit"
								name="typeCircuit" formControlName="typeCircuit">
								<option [ngValue]="null"></option>
								<option [ngValue]="typeCircuit.id"
									*ngFor="let typeCircuit of typeCircuits; ">{{
									typeCircuit.libTypeCircuit }}</option>
							</select>
						</div>
					</div>
					<div style="height: 25px"></div>
					
					
					<div class="form-group" style="width: 180px; display: inline-block;">
						<label class="form-control-label" for="field_dateCheckin">Check IN
							</label>
						<div class="input-group">
							<input id="field_dateCheckin" type="text" class="form-control"
								name="dateCheckin" ngbDatepicker
								#dateCheckinDp="ngbDatepicker" formControlName="dateCheckin" />
							<span class="input-group-append">
								<button type="button" class="btn btn-secondary"
									(click)="dateCheckinDp.toggle()">
									<fa-icon icon="calendar-alt"></fa-icon>
								</button>
							</span>
						</div>

					</div>

					<div class="form-group" style="width: 180px;display: inline-block;">
						<label class="form-control-label" for="field_dateCheckout">Check OUT
							</label>
						<div class="input-group">
							<input id="field_dateCheckout" type="text" class="form-control"
								name="dateCheckout" ngbDatepicker
								#dateCheckoutDp="ngbDatepicker" formControlName="dateCheckout" />
							<span class="input-group-append">
								<button type="button" class="btn btn-secondary"
									(click)="dateCheckoutDp.toggle()">
									<fa-icon icon="calendar-alt"></fa-icon>
								</button>
							</span>
						</div>

					</div>


					<div class="form__item form__item--submit">
						<input type="submit" value="FIND NOW" />
					</div>

					<div style="height: 5px"></div>

				</form>
			</div>
		</div>

	</div>
</header>







<section>
	<div class="container">
		<div class="top-desti__tittle">
			<!-- section tittle -->



			<div class="section-tittle">
				<h2>Top Destination</h2>
				<div class="section-tittle__line-under"></div>
				<p>
					Top <span>Destination</span>
				</p>
			</div>
		</div>
	</div>

	<div class="top-desti">

		<a href="destination-item.html" class="top-desti__item"> <img
			src="../../assets/images/uploads/destination/desti1.jpg" alt="desti1">
			<div class="top-desti__ammout">
				<span><i class="fa fa-map-marker"></i>BAGAN</span> <span>38
					Tours</span>
			</div>
		</a> <a href="destina
		tion-item.html" class="top-desti__item"> <img
			src="../../assets/images/uploads/destination/desti2.jpg" alt="desti1">
			<div class="top-desti__ammout">
				<span><i class="fa fa-map-marker"></i>KATA TJUTA</span> <span>21
					Tours</span>
			</div>
		</a> <a href="destination-item.html" class="top-desti__item"> <img
			src="../../assets/images/uploads/destination/desti3.jpg" alt="desti1">
			<div class="top-desti__ammout">
				<span><i class="fa fa-map-marker"></i>HERMANUS</span> <span>38
					Tours</span>
			</div>
		</a> <a href="destination-item.html" class="top-desti__item"> <img
			src="../../assets/images/uploads/destination/desti4.jpg" alt="desti1">
			<div class="top-desti__ammout">
				<span><i class="fa fa-map-marker"></i>SYDNEY</span> <span>38
					Tours</span>
			</div>
		</a> <a href="destination-item.html" class="top-desti__item"> <img
			src="../../assets/images/uploads/destination/desti5.jpg" alt="desti1">
			<div class="top-desti__ammout">
				<span><i class="fa fa-map-marker"></i>LAKE GARDA</span> <span>38
					Tours</span>
			</div>
		</a>
	</div>
</section>

<section id="col-3-tours">
	<div class="container">
		<div class="trending-tour__tittle">
			<!-- section tittle -->



			<div class="section-tittle">
				<h2>Trending Tour</h2>
				<div class="section-tittle__line-under"></div>
				<p>
					Trending <span>Tour</span>
				</p>
			</div>
		</div>
		<div class="row">

			<div *ngFor="let number of [0,1,2,3,4]"
				class="col-lg-4 col-sm-6 col-12">
				<jhi-tour-show></jhi-tour-show>
			</div>

			<div class="col-lg-4 col-sm-6 col-12">
				<a href="tour-item.html" class="trending-tour-item"> <img
					class="trending-tour-item__thumnail"
					src="../../assets/images/uploads/tours/tour2.jpg" alt="tour1">
					<div class="trending-tour-item__info">
						<h3 class="trending-tour-item__name">trekking everest</h3>
						<div class="trending-tour-item__group-infor">
							<div class="trending-tour-item__group-infor--left">
								<span class="trending-tour-item__group-infor__rating--4star"></span>
								<div class="trending-tour-item__group-infor__lasting">
									<img src="../../assets/images/tours/lasting.png" alt="lasting">
									7 Days / 6 Nights
								</div>
							</div>
							<span class="trending-tour-item__group-infor__price">$652</span>

						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 col-12">
				<a href="tour-item.html" class="trending-tour-item"> <img
					class="trending-tour-item__thumnail"
					src="../../assets/images/uploads/tours/tour3.jpg" alt="tour1">
					<div class="trending-tour-item__info">
						<h3 class="trending-tour-item__name">Kelingking beach</h3>
						<div class="trending-tour-item__group-infor">
							<div class="trending-tour-item__group-infor--left">
								<span class="trending-tour-item__group-infor__rating"></span>
								<div class="trending-tour-item__group-infor__lasting">
									<img src="../../assets/images/tours/lasting.png" alt="lasting">
									3 Days / 2 Nights
								</div>
							</div>
							<span class="trending-tour-item__group-infor__price">$456</span>

						</div>
					</div>
				</a>
			</div>

			<div class="col-lg-4 col-sm-6 col-12">
				<a href="tour-item.html" class="trending-tour-item"> <img
					class="trending-tour-item__thumnail"
					src="../../assets/images/uploads/tours/tour4.jpg" alt="tour4">
					<div class="trending-tour-item__info">
						<h3 class="trending-tour-item__name">Turkey Encompassed</h3>
						<div class="trending-tour-item__group-infor">
							<div class="trending-tour-item__group-infor--left">
								<span class="trending-tour-item__group-infor__rating"></span>
								<div class="trending-tour-item__group-infor__lasting">
									<img src="../../assets/images/tours/lasting.png" alt="lasting">
									6 Days / 6 Nights
								</div>
							</div>

							<span class="trending-tour-item__group-infor__price">$703</span>

						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 col-12">
				<a href="tour-item.html" class="trending-tour-item"> <img
					class="trending-tour-item__thumnail"
					src="../../assets/images/uploads/tours/tour5.jpg" alt="tour5">
					<div class="trending-tour-item__info">
						<h3 class="trending-tour-item__name">Broho Midnight Tour</h3>
						<div class="trending-tour-item__group-infor">
							<div class="trending-tour-item__group-infor--left">
								<span class="trending-tour-item__group-infor__rating--3star"></span>
								<div class="trending-tour-item__group-infor__lasting">
									<img src="../../assets/images/tours/lasting.png" alt="lasting">
									2 Days / 1 Nights
								</div>
							</div>
							<span class="trending-tour-item__group-infor__price">$531</span>

						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 col-12">
				<a href="tour-item.html" class="trending-tour-item">
					<div class="trending-tour-item__sale"></div> <img
					class="trending-tour-item__thumnail"
					src="../../assets/images/uploads/tours/tour6.jpg" alt="tour6">
					<div class="trending-tour-item__info">
						<h3 class="trending-tour-item__name">Giza Pyramids</h3>
						<div class="trending-tour-item__group-infor">
							<div class="trending-tour-item__group-infor--left">
								<span class="trending-tour-item__group-infor__rating--4star"></span>
								<div class="trending-tour-item__group-infor__lasting">
									<img src="../../assets/images/tours/lasting.png" alt="lasting">
									5 Days / 4 Nights
								</div>
							</div>

							<p class="trending-tour-item__group-infor__sale-price">$898</p>
							<span class="trending-tour-item__group-infor__price">$600</span>

						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- 
<section>
	<div class="video-popup-1">
		<div class="video-popup-1__head-Brg"></div>
		<div class="container">
			<div class="video-popup-1__tittle">
				<img src="../../assets/images/uploads/video-popup/melbouensnow.png"
					alt="melbournetittle">
			</div>
			<h2>VIDEO REVIEW</h2>
			<div class="video-popup-1__area">
				<span id="btn-popup"><img
					src="../../assets/images/video-popup/btn-popup.png"
					alt="button-pop"></span>
				<div class="video-popup-img">
					<img src="../../assets/images/uploads/video-popup/imgSnowtour.jpg"
						alt="">
				</div>
			</div>
		</div>

	</div>

	<div class="preview-video-1">
		<div class="preview-video-1__close"></div>
		<div class="preview-video-1__area">
			<span class="preview-video-1__btn-close">&times;</span>
			<iframe class="preview-video-1__iframe" src="#" 
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				data-src="https://www.youtube.com/embed/ePtcI8obTVo?autoplay=1"
				allowfullscreen></iframe>
		</div>
	</div>

</section>
 -->


<section class="travel-tip-1__area">
	<div class="container">
		<div class="travel-tip-1__tittle">
			<!-- section tittle -->



			<div class="section-tittle">
				<h2>Travel Tips</h2>
				<div class="section-tittle__line-under"></div>
				<p>
					Travel <span>Tips</span>
				</p>
			</div>
		</div>

		<div class="travel-tip-1">
			<img src="../../assets/images/uploads/testi/traveltip1.png"
				alt="travel-tip-1"> <span data-rel="location1"
				class="travel-tip-1__btn travel-tip-1__btn--location1 ">1</span> <span
				data-rel="location2"
				class="travel-tip-1__btn travel-tip-1__btn--location2">2</span> <span
				data-rel="location3"
				class="travel-tip-1__btn travel-tip-1__btn--location3">3</span> <span
				data-rel="location4"
				class="travel-tip-1__btn travel-tip-1__btn--location4">4</span> <span
				data-rel="location5"
				class="travel-tip-1__btn travel-tip-1__btn--location5">5</span>
			<!-- tips -->

			<a href="blog-single.html"
				class="travel-tip-1__tip travel-tip-1__tip--location1 location1">
				<h3>15 Things You Need to Know Before You Go!</h3> <span><i
					class="far fa-calendar-check"></i>July 4, 2019 </span> <span><i
					class="far fa-user"></i>By Admin</span> <span><i
					class="far fa-comment-alt"></i>2 commnets</span>
				<p>Aliquam blandit facilisis purus, eget volutpat ante congue a.
					Quo neque sapiente libero repellendus eligendi ducimus.</p>
			</a> <a href="blog-single.html"
				class="travel-tip-1__tip travel-tip-1__tip--location2 location2">
				<h3>5 Things You Need to Know Before You Go!</h3> <span><i
					class="far fa-calendar-check"></i>July 4, 2019 </span> <span><i
					class="far fa-user"></i>By Admin</span> <span><i
					class="far fa-comment-alt"></i>2 commnets</span>
				<p>Aliquam blandit facilisis purus, eget volutpat ante congue a.
					Quo neque sapiente libero repellendus eligendi ducimus.</p>
			</a> <a href="blog-single.html"
				class="travel-tip-1__tip travel-tip-1__tip--location3 location3">
				<h3>3 Things You Need to Know Before You Go!</h3> <span><i
					class="far fa-calendar-check"></i>July 4, 2019 </span> <span><i
					class="far fa-user"></i>By Admin</span> <span><i
					class="far fa-comment-alt"></i>3 commnets</span>
				<p>Aliquam blandit facilisis purus, eget volutpat ante congue a.
					Quo neque sapiente libero repellendus eligendi ducimus.</p>
			</a> <a href="blog-single.html"
				class="travel-tip-1__tip travel-tip-1__tip--location4 location4">
				<h3>1 Things You Need to Know Before You Go!</h3> <span><i
					class="far fa-calendar-check"></i>July 4, 2019 </span> <span><i
					class="far fa-user"></i>By Admin</span> <span><i
					class="far fa-comment-alt"></i>4 commnets</span>
				<p>Aliquam blandit facilisis purus, eget volutpat ante congue a.
					Quo neque sapiente libero repellendus eligendi ducimus.</p>
			</a> <a href="blog-single.html"
				class="travel-tip-1__tip travel-tip-1__tip--location5 location5">
				<h3>25 Things You Need to Know Before You Go!</h3> <span><i
					class="far fa-calendar-check"></i>July 4, 2019 </span> <span><i
					class="far fa-user"></i>By Admin</span> <span><i
					class="far fa-comment-alt"></i>5 commnets</span>
				<p>Aliquam blandit facilisis purus, eget volutpat ante congue a.
					Quo neque sapiente libero repellendus eligendi ducimus.</p>
			</a>
		</div>
	</div>
</section>

<div class="scroll-top">
	<i class="fas fa-angle-up"></i>
</div>
