<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservation">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.reservation.detail.title">Reservation</span> {{ reservation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservation.dateDebut">Date Debut</span></dt>
                <dd>
                    <span>{{ reservation.dateDebut }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservation.dateFin">Date Fin</span></dt>
                <dd>
                    <span>{{ reservation.dateFin }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservation.nombreAdulte">Nombre Adulte</span></dt>
                <dd>
                    <span>{{ reservation.nombreAdulte }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservation.nombreJeune">Nombre Jeune</span></dt>
                <dd>
                    <span>{{ reservation.nombreJeune }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservation.nombreEnfant">Nombre Enfant</span></dt>
                <dd>
                    <span>{{ reservation.nombreEnfant }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservation.montantTotalTTC">Montant Total TTC</span></dt>
                <dd>
                    <span>{{ reservation.montantTotalTTC }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservation.libDevise">Lib Devise</span></dt>
                <dd>
                    <span>{{ reservation.libDevise }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservation.reservationTour">Reservation Tour</span></dt>
                <dd>
                    <div *ngIf="reservation.reservationTour">
                        <a [routerLink]="['/reservation-tour', reservation.reservationTour?.id, 'view']">{{ reservation.reservationTour?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservation.reservationHebergement">Reservation Hebergement</span></dt>
                <dd>
                    <div *ngIf="reservation.reservationHebergement">
                        <a [routerLink]="['/reservation-hebergement', reservation.reservationHebergement?.id, 'view']">{{ reservation.reservationHebergement?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservation.reservationTransfert">Reservation Transfert</span></dt>
                <dd>
                    <div *ngIf="reservation.reservationTransfert">
                        <a [routerLink]="['/reservation-transfert', reservation.reservationTransfert?.id, 'view']">{{ reservation.reservationTransfert?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservation.donneurOrdre">Donneur Ordre</span></dt>
                <dd>
                    <div *ngIf="reservation.donneurOrdre">
                        <a [routerLink]="['/donneur-ordre', reservation.donneurOrdre?.id, 'view']">{{ reservation.donneurOrdre?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reservation', reservation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
