<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecoLifeExpeditionApp.reservation.home.title">Reservations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reservation" [routerLink]="['/reservation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ecoLifeExpeditionApp.reservation.home.createLabel">
            Create a new Reservation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reservations?.length === 0">
        <span jhiTranslate="ecoLifeExpeditionApp.reservation.home.notFound">No reservations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reservations && reservations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservation.dateDebut">Date Debut</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservation.dateFin">Date Fin</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservation.nombreAdulte">Nombre Adulte</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservation.nombreJeune">Nombre Jeune</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservation.nombreEnfant">Nombre Enfant</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservation.montantTotalTTC">Montant Total TTC</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservation.libDevise">Lib Devise</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservation.reservationTour">Reservation Tour</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservation.reservationHebergement">Reservation Hebergement</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservation.reservationTransfert">Reservation Transfert</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservation.donneurOrdre">Donneur Ordre</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservations ;trackBy: trackId">
                    <td><a [routerLink]="['/reservation', reservation.id, 'view']">{{ reservation.id }}</a></td>
                    <td>{{ reservation.dateDebut | date:'mediumDate' }}</td>
                    <td>{{ reservation.dateFin | date:'mediumDate' }}</td>
                    <td>{{ reservation.nombreAdulte }}</td>
                    <td>{{ reservation.nombreJeune }}</td>
                    <td>{{ reservation.nombreEnfant }}</td>
                    <td>{{ reservation.montantTotalTTC }}</td>
                    <td>{{ reservation.libDevise }}</td>
                    <td>
                        <div *ngIf="reservation.reservationTour">
                            <a [routerLink]="['/reservation-tour', reservation.reservationTour?.id, 'view']" >{{ reservation.reservationTour?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="reservation.reservationHebergement">
                            <a [routerLink]="['/reservation-hebergement', reservation.reservationHebergement?.id, 'view']" >{{ reservation.reservationHebergement?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="reservation.reservationTransfert">
                            <a [routerLink]="['/reservation-transfert', reservation.reservationTransfert?.id, 'view']" >{{ reservation.reservationTransfert?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="reservation.donneurOrdre">
                            <a [routerLink]="['/donneur-ordre', reservation.donneurOrdre?.id, 'view']" >{{ reservation.donneurOrdre?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/reservation', reservation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/reservation', reservation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(reservation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
