<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tour-heading" jhiTranslate="ecoLifeExpeditionApp.tour.home.createOrEditLabel">Create or edit a Tour</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.libTitre" for="field_libTitre">Lib Titre</label>
                    <input type="text" class="form-control" name="libTitre" id="field_libTitre"
                           formControlName="libTitre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.imageUrl" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                           formControlName="imageUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.videoUrl" for="field_videoUrl">Video Url</label>
                    <input type="text" class="form-control" name="videoUrl" id="field_videoUrl"
                           formControlName="videoUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.imageContent" for="field_imageContent">Image Content</label>
                    <div>
                        <div *ngIf="editForm.get('imageContent')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('imageContentContentType')!.value, editForm.get('imageContent')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('imageContentContentType')!.value }}, {{ byteSize(editForm.get('imageContent')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({imageContent: null});editForm.patchValue({imageContentContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imageContent" (change)="setFileData($event, 'imageContent', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="imageContent" id="field_imageContent"
                           formControlName="imageContent"/>
                    <input type="hidden" class="form-control" name="imageContentContentType" id="field_imageContentContentType"
                           formControlName="imageContentContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.videoContent" for="field_videoContent">Video Content</label>
                    <div>
                        <div *ngIf="editForm.get('videoContent')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('videoContentContentType')!.value, editForm.get('videoContent')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('videoContentContentType')!.value }}, {{ byteSize(editForm.get('videoContent')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({videoContent: null});editForm.patchValue({videoContentContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_videoContent" (change)="setFileData($event, 'videoContent', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="videoContent" id="field_videoContent"
                           formControlName="videoContent"/>
                    <input type="hidden" class="form-control" name="videoContentContentType" id="field_videoContentContentType"
                           formControlName="videoContentContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.conseil" for="field_conseil">Conseil</label>
                    <input type="text" class="form-control" name="conseil" id="field_conseil"
                           formControlName="conseil"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.prixTTC" for="field_prixTTC">Prix TTC</label>
                    <input type="number" class="form-control" name="prixTTC" id="field_prixTTC"
                           formControlName="prixTTC"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.remise" for="field_remise">Remise</label>
                    <input type="checkbox" class="form-control" name="remise" id="field_remise"
                           formControlName="remise"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.prixRemise" for="field_prixRemise">Prix Remise</label>
                    <input type="number" class="form-control" name="prixRemise" id="field_prixRemise"
                           formControlName="prixRemise"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.starScore" for="field_starScore">Star Score</label>
                    <input type="number" class="form-control" name="starScore" id="field_starScore"
                           formControlName="starScore"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.duree" for="field_duree">Duree</label>
                    <input type="number" class="form-control" name="duree" id="field_duree"
                           formControlName="duree"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.saison" for="field_saison">Saison</label>
                    <select class="form-control" name="saison" formControlName="saison" id="field_saison">
                        <option value="ETE">{{ 'ecoLifeExpeditionApp.Saison.ETE' | translate }}</option>
                        <option value="AUTOMNE">{{ 'ecoLifeExpeditionApp.Saison.AUTOMNE' | translate }}</option>
                        <option value="HIVER">{{ 'ecoLifeExpeditionApp.Saison.HIVER' | translate }}</option>
                        <option value="PRINTEMPS">{{ 'ecoLifeExpeditionApp.Saison.PRINTEMPS' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="ACTIVE">{{ 'ecoLifeExpeditionApp.TourStatus.ACTIVE' | translate }}</option>
                        <option value="DISABLED">{{ 'ecoLifeExpeditionApp.TourStatus.DISABLED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.region" for="field_region">Region</label>
                    <select class="form-control" id="field_region" name="region" formControlName="region">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="regionOption.id === editForm.get('region')!.value?.id ? editForm.get('region')!.value : regionOption" *ngFor="let regionOption of regions; trackBy: trackById">{{ regionOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecoLifeExpeditionApp.tour.typeCircuit" for="field_typeCircuit">Type Circuit</label>
                    <select class="form-control" id="field_typeCircuit" name="typeCircuit" formControlName="typeCircuit">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeCircuitOption.id === editForm.get('typeCircuit')!.value?.id ? editForm.get('typeCircuit')!.value : typeCircuitOption" *ngFor="let typeCircuitOption of typecircuits; trackBy: trackById">{{ typeCircuitOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
