<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tour">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.tour.detail.title">Tour</span> {{ tour.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.libTitre">Lib Titre</span></dt>
                <dd>
                    <span>{{ tour.libTitre }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{ tour.imageUrl }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.videoUrl">Video Url</span></dt>
                <dd>
                    <span>{{ tour.videoUrl }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.imageContent">Image Content</span></dt>
                <dd>
                    <div *ngIf="tour.imageContent">
                        <a (click)="openFile(tour.imageContentContentType, tour.imageContent)" jhiTranslate="entity.action.open">open</a>
                        {{ tour.imageContentContentType }}, {{ byteSize(tour.imageContent) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.videoContent">Video Content</span></dt>
                <dd>
                    <div *ngIf="tour.videoContent">
                        <a (click)="openFile(tour.videoContentContentType, tour.videoContent)" jhiTranslate="entity.action.open">open</a>
                        {{ tour.videoContentContentType }}, {{ byteSize(tour.videoContent) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.conseil">Conseil</span></dt>
                <dd>
                    <span>{{ tour.conseil }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.prixTTC">Prix TTC</span></dt>
                <dd>
                    <span>{{ tour.prixTTC }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.description">Description</span></dt>
                <dd>
                    <span>{{ tour.description }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.remise">Remise</span></dt>
                <dd>
                    <span>{{ tour.remise }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.prixRemise">Prix Remise</span></dt>
                <dd>
                    <span>{{ tour.prixRemise }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.starScore">Star Score</span></dt>
                <dd>
                    <span>{{ tour.starScore }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.duree">Duree</span></dt>
                <dd>
                    <span>{{ tour.duree }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.saison">Saison</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'ecoLifeExpeditionApp.Saison.' + tour.saison }}">{{ tour.saison }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'ecoLifeExpeditionApp.TourStatus.' + tour.status }}">{{ tour.status }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.region">Region</span></dt>
                <dd>
                    <div *ngIf="tour.region">
                        <a [routerLink]="['/region', tour.region?.id, 'view']">{{ tour.region?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.tour.typeCircuit">Type Circuit</span></dt>
                <dd>
                    <div *ngIf="tour.typeCircuit">
                        <a [routerLink]="['/type-circuit', tour.typeCircuit?.id, 'view']">{{ tour.typeCircuit?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tour', tour.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
