<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservationTour">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.reservationTour.detail.title">Reservation Tour</span> {{ reservationTour.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservationTour.montantTotalTTC">Montant Total TTC</span></dt>
                <dd>
                    <span>{{ reservationTour.montantTotalTTC }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.reservationTour.reservation">Reservation</span></dt>
                <dd>
                    <div *ngIf="reservationTour.reservation">
                        <a [routerLink]="['/reservation', reservationTour.reservation?.id, 'view']">{{ reservationTour.reservation?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reservation-tour', reservationTour.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
