<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecoLifeExpeditionApp.reservationTour.home.title">Reservation Tours</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reservation-tour" [routerLink]="['/reservation-tour/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ecoLifeExpeditionApp.reservationTour.home.createLabel">
            Create a new Reservation Tour
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reservationTours?.length === 0">
        <span jhiTranslate="ecoLifeExpeditionApp.reservationTour.home.notFound">No reservationTours found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reservationTours && reservationTours.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservationTour.montantTotalTTC">Montant Total TTC</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservationTour.reservation">Reservation</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservationTour of reservationTours ;trackBy: trackId">
                    <td><a [routerLink]="['/reservation-tour', reservationTour.id, 'view']">{{ reservationTour.id }}</a></td>
                    <td>{{ reservationTour.montantTotalTTC }}</td>
                    <td>
                        <div *ngIf="reservationTour.reservation">
                            <a [routerLink]="['/reservation', reservationTour.reservation?.id, 'view']" >{{ reservationTour.reservation?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/reservation-tour', reservationTour.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/reservation-tour', reservationTour.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(reservationTour)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
