<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agence">
            <h2><span jhiTranslate="ecoLifeExpeditionApp.agence.detail.title">Agence</span> {{ agence.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoLifeExpeditionApp.agence.libAgence">Lib Agence</span></dt>
                <dd>
                    <span>{{ agence.libAgence }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.agence.adresseAgence">Adresse Agence</span></dt>
                <dd>
                    <span>{{ agence.adresseAgence }}</span>
                </dd>
                <dt><span jhiTranslate="ecoLifeExpeditionApp.agence.contactAgence">Contact Agence</span></dt>
                <dd>
                    <span>{{ agence.contactAgence }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agence', agence.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
