<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecoLifeExpeditionApp.reservationHebergement.home.title">Reservation Hebergements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reservation-hebergement" [routerLink]="['/reservation-hebergement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ecoLifeExpeditionApp.reservationHebergement.home.createLabel">
            Create a new Reservation Hebergement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reservationHebergements?.length === 0">
        <span jhiTranslate="ecoLifeExpeditionApp.reservationHebergement.home.notFound">No reservationHebergements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reservationHebergements && reservationHebergements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservationHebergement.montantTotalTTC">Montant Total TTC</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservationHebergement.reservation">Reservation</span></th>
                    <th scope="col" ><span jhiTranslate="ecoLifeExpeditionApp.reservationHebergement.hebergement">Hebergement</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservationHebergement of reservationHebergements ;trackBy: trackId">
                    <td><a [routerLink]="['/reservation-hebergement', reservationHebergement.id, 'view']">{{ reservationHebergement.id }}</a></td>
                    <td>{{ reservationHebergement.montantTotalTTC }}</td>
                    <td>
                        <div *ngIf="reservationHebergement.reservation">
                            <a [routerLink]="['/reservation', reservationHebergement.reservation?.id, 'view']" >{{ reservationHebergement.reservation?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="reservationHebergement.hebergement">
                            <a [routerLink]="['/hebergement', reservationHebergement.hebergement?.id, 'view']" >{{ reservationHebergement.hebergement?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/reservation-hebergement', reservationHebergement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/reservation-hebergement', reservationHebergement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(reservationHebergement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
